T2ImgGen.json
{
  "name": "T2ImgGen",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/nscale/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "image/png"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.full_prompt }}\",\n\t\"parameters\": { \n    \"num_inference_steps\": 5 \n},\n  \"option\":{\n  \"use_cache\":false\n\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        80
      ],
      "id": "ffc32083-8ce2-4e13-9da6-a8620c86564b",
      "name": "GenImg",
      "credentials": {
        "huggingFaceApi": {
          "id": "DvXnrbdpKuA8TFXQ",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "text-to-image",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        80
      ],
      "id": "d407aff9-a63f-46c6-b120-438d36ceed6f",
      "name": "Webhook1",
      "webhookId": "1e241905-67a2-41f8-b528-af04e352fc42"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"prompt\":\"{{ $json.body.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        80
      ],
      "id": "e5432d47-84f2-41fa-a4ce-26f1644e693e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional AI image prompt engineer specialized in high-conversion advertisement visuals.\n\nINPUT:\n- Text description: {{ $json.prompt }}\n\n\nTASK:\nGenerate a single high-quality cinematic image prompt suitable for advertisements.\n\nRULES:\n- Output must be optimized for text-to-image generation\n- Photorealistic, cinematic lighting\n- Sharp focus, high detail, ad-grade composition\n- No text, captions, logos, or watermarks\n- Clean background or contextually relevant environment\n- Emotionally engaging and visually striking\n\nLOGIC:\n\n- If reference image present = \"no\":\n  Create a PURE TEXT-TO-IMAGE prompt.\n  Imagine a realistic, cinematic advertising scene entirely from the text.\n  Do not mention any reference image.\n\nOUTPUT JSON ONLY:\n\n{\n  \"prompt\": \"string\",\n  \"style\": \"string\",\n  \"lighting\": \"string\",\n  \"camera\": \"string\",\n  \"quality\": \"string\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        80
      ],
      "id": "2aedfff5-bbd8-441f-ae58-cd42d0b9cb42",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        608,
        304
      ],
      "id": "8a9d2278-a741-47a0-8c90-d199fa2f0c13",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "wITms8fAj0kt5XQM",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get raw AI Agent output (string)\nconst raw =\n  $json.output ||\n  $json.text ||\n  $json.response ||\n  $json;\n\n// Convert to string safely\nconst rawString =\n  typeof raw === \"string\" ? raw : JSON.stringify(raw);\n\n// Extract JSON between first { and last }\nconst firstBrace = rawString.indexOf(\"{\");\nconst lastBrace = rawString.lastIndexOf(\"}\");\n\nif (firstBrace === -1 || lastBrace === -1) {\n  throw new Error(\"No JSON object found in AI output\");\n}\n\nconst jsonSubstring = rawString.substring(firstBrace, lastBrace + 1);\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonSubstring);\n} catch (e) {\n  throw new Error(\"Extracted content is not valid JSON\");\n}\n\n// ✅ Proper return structure\nreturn [\n  {\n    json: {\n      prompt: parsed.prompt || \"\",\n      style: parsed.style || \"\",\n      lighting: parsed.lighting || \"\",\n      camera: parsed.camera || \"\",\n      quality: parsed.quality || \"\",\n      full_prompt: [\n        parsed.prompt,\n        parsed.style,\n        parsed.lighting,\n        parsed.camera,\n        parsed.quality\n      ].filter(Boolean).join(\", \")\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        80
      ],
      "id": "f826d49d-e0bf-47e1-8dd3-454435b1157a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "# text-to-image generation",
        "height": 448,
        "width": 1280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "01bbc977-f43b-4714-af42-6563877c91f6",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "GenImg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6d16526e-6989-4159-a6c2-38403e0b2611",
  "meta": {
    "instanceId": "6e914989421a2e8d5a78ec77e7986116921d5f0a601edd50067c3b879ccdfef7"
  },
  "id": "M_H_o7w7DVkTPrP12iI6_",
  "tags": []
}